<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%HOME%\site\wwwroot\bin\jboss-eap-7.0\bin\standalone.bat"
        arguments="-Djboss.http.port=%HTTP_PLATFORM_PORT%" startupTimeLimit="120" startupRetryCount="2" requestTimeout="00:10:00" stdoutLogEnabled="true">
      <environmentVariables>
        <environmentVariable name="JBOSS_HOME" value="%HOME%\site\wwwroot\bin\jboss-eap-7.0" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>